<li>
  {{rental.owner}}'s {{#link-to 'rental' rental.id}}{{rental.type}}{{/link-to}} in {{rental.city}} 
  {{#if isImageShowing}}
    <p><img src={{rental.image}} alt={{rental.type}} {{action "imageHide"}} class='housePic'></p>
  {{else}}
    <button {{action "imageShow"}} class='btn btn-success rentalButtons'>Show image</button>
  {{/if}}
</li>
