<div class="well well-md">
  Located in {{rental.city}}, this {{rental.bedrooms}} bedroom {{rental.type}} is
  available by arrangement through {{rental.owner}}.
  <br>
  <p><img src={{rental.image}} alt={{rental.type}} class='housePic'></p>

  <button {{action 'delete' rental}} class='btn btn-danger'>Delete</button>

  {{#link-to 'index' class='btn btn-info'}}Home{{/link-to}}
</div>
